!!!
%html
  / Head information
  = partial 'layouts/partials/head'

  / Main content
  %body
    = partial 'layouts/partials/header'
    %main
      = partial 'layouts/partials/banner'
      .bg-base
        .container.container-small.padding-v-big
          = yield
    = partial 'layouts/partials/footer'
