.Footer
  .container.padding-h-big.padding-v-bigger
    .Footer__Border.padding-t-big
      .row.collapse-b-phone-land
        .col-6
          %h4.inverse.margin-reset
            = image_tag 'logo-white.svg', alt: 'Kubeless logo', class: 'Footer__Logo'
          %p.type-color-iron.type-small.margin-reset
            © Kubeless #{Time.new.year} | All Rights Reserved.
        .col-6.text-r
          = link_to '#', class: 'margin-h-small' do
            = image_tag 'social/github.svg', alt: 'See the Github Profile of the Kubeapps project'
          = link_to '#', class: 'margin-h-small' do
            = image_tag 'social/facebook.svg', alt: 'See the Facebook Profile of the Kubeapps project'
          = link_to '#', class: 'margin-h-small' do
            = image_tag 'social/google.svg', alt: 'See the Google Plus Profile of the Kubeapps project'
          = link_to '#', class: 'margin-l-small' do
            = image_tag 'social/twitter.svg', alt: 'See the Twitter Profile of the Kubeapps project'

